exclude *.pyc
exclude __pycache__/


include *.py

recursive-include terminal_image *.py
recursive-include terminal_image *.txt
recursive-include terminal_image *.md

exclude Screenshots/*
recursive-exclude Screenshots *

include LICENSE
include README.md
